<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="EfTextTemplateHost" providerName="System.Data.SqlClient" connectionString="server=115.159.5.100;initial catalog=ECS.RL;uid=sa;pwd=qcloud123." />
  </connectionStrings>
</configuration>